@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(../src/assets/fonts/JetBrainsMono-Bold.woff) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../src/assets/fonts/JetBrainsMono-Regular.woff) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../src/assets/fonts/Inter-400.woff) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(../src/assets/fonts/Inter-500.woff) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(../src/assets/fonts/Inter-600.woff) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(../src/assets/fonts/Inter-700.woff) format("woff2");
  font-display: swap;
}

body,
html {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: rgb(128, 128, 128);
  background-color: var(--background_page);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
}

.no-border {
  border: none !important;
}
.fs-1-plus {
  font-size: 2em; /* Adjust the value as needed */
}
.my-custom-navbar {
  background-color: rgba(255, 255, 255, 1); /* White with optional opacity */
}
.my-navbar {
  position: fixed; /* Key for staying on top */
  top: 0; /* Sticks to the top of the screen */
  left: 0; /* Stretches across the full width */
  width: 100%; /* Ensures full width coverage */
  z-index: 1000; /* A high z-index to win against other elements */
}
.card-img-top {
  border-radius: 0;
  animation: doubleHeartbeat 1.5s ease-in-out infinite alternate;
}
@keyframes doubleHeartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.08);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.card-img-top {
  max-width: 50%; /* Make the image scale to its container */
  height: auto; /* Maintain aspect ratio */
}
.card {
  /* Or the class of the parent container */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically (optional) */
}
.card {
  position: relative; /* Establish a positioning context */
}

.card-img-top {
  border-radius: 0; /* Remove rounded corners */
}
.card-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.position-relative {
  /* Target the container with the badge */
  display: inline-block; /* Allow content to flow beside it */
}

CSS .badge {
  top: 10px;
  right: 10px;
  display: inline-flex; /* Enables internal centering */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  width: 30px; /* Set desired width */
  height: 30px; /* Set desired height */
  border-radius: 50%; /* Create a circle */
  overflow: hidden; /* Hide any overflow */
}
.start-100 {
  left: 77% !important;
}
.top-0 {
  top: 26% !important;
}

.star-burst {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: gold;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.star-burst::before {
  content: "$"; /* Or another currency symbol */
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star-burst.active {
  opacity: 1;
  transform: translateY(-20px) scale(1.5);
}

.star-burst.active {
  opacity: 1;
  transform: translateY(-20px) scale(1.5); /* Adjust translate and scale if needed */
  animation: coinFloatUp 1s ease-out; /* Add animation */
}
@keyframes coinFloatUp {
  0% {
    transform: translateY(-20px) scale(1.5);
  } /* Match initial state */
  100% {
    transform: translateY(-50px) scale(1.5);
  } /* Coin moves further up */
}

.star-burst svg {
  fill: gold;
  width: 5em; /* Larger coin */
}
.gradient-text {
  background: var(--gradientColor);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 150% !important;
}

fw-bolder {
  font-weight: 900 !important;
}

/*Modal*/

.modal {
  /* Center modal horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Set modal to cover the entire viewport */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-dialog {
  /* Set width and max-width */
  width: 90%;
  max-width: 400px; /* Adjust as needed */
}

.modal-content {
  /* Add padding */
  padding: 20px;
}
@media (max-width: 768px) {
  .modal-dialog {
    width: 90%;
    max-width: none; /* Override max-width for smaller screens */
  }
}

/* Default style */
.Title {
  /* Default font size */
  font-size: 96px;
  /* Default padding */
  padding-bottom: 20px; /* Adjust as needed */
}

/* Media queries */
@media (max-width: 1280px) {
  .Title {
    font-size: 86px;
    padding-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .Title {
    font-size: 64px;
  }
}

@media (max-width: 834px) {
  .Title {
    font-size: 56px;
  }
}

@media (max-width: 734px) {
  .Title {
    line-height: 58px;
  }
}

.lucky-numbers-text {
  background: linear-gradient(89deg, #2689e8 18.91%, #a168ff 79.91%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 150% !important;
}

.lucky-number {
  margin-right: 5px; /* Adjust spacing between numbers */
}

.zodiactitle {
  background: linear-gradient(89deg, #2689e8 18.91%, #a168ff 79.91%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
