.inter-unique {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: slnt 0;
}
body {
  background-color: #f8f9fa !important;
}
body,
html {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: var(--background_page);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transform: translateZ(0);
  backface-visibility: hidden;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
  line-height: 1.6;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; /* WebKit (Safari, Chrome) */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard */
}

.card-text {
  color: #161c28 !important;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 768px) {
  .card-text {
    font-size: 16px;
  }
}
.card-title {
  color: #161c28 !important;
  font-size: 22px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 768px) {
  .card-title {
    font-size: 20px;
    font-weight: 700;
  }
}
.no-border {
  border: none !important;
}
.fs-1-plus {
  font-size: 2em;
}
.image-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: hidden;
}
.image-container img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .col-12.col-lg-6 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 100%;
  }
}
fw-bolder {
  font-weight: 900 !important;
}
.modal-content {
  padding: 20px;
}
@media (max-width: 1400px) {
  .Title {
    font-size: 5.5rem;
    padding-bottom: 0;
  }
}
@media (max-width: 1200px) {
  .Title {
    font-size: 4rem;
  }
}
@media (max-width: 992px) {
  .Title {
    font-size: 4.5rem;
  }
}
@media (max-width: 768px) {
  .Title {
    font-size: 4rem;
    line-height: 3.25rem;
  }
}
.lucky-number {
  margin-right: 5px;
}
.zodiactitle {
  background: linear-gradient(89deg, #2689e8 18.91%, #a168ff 79.91%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
.hidden {
  display: none;
}
@media (max-width: 767px) {
  .container.col-xxl-8 {
    padding-top: 1rem !important;
    padding-bottom: 1rem;
  }
  .col-12.col-lg-6.order-lg-1 {
    margin: 0;
    padding: 0;
  }
  .col-12.col-lg-6.order-lg-2.text-center.text-lg-start {
    margin-top: -1.5rem;
  }
}
@media (max-width: 768px) {
  .my-custom-title {
    font-size: calc(1.5rem + 3vw);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.graytitles {
  color: #70757a !important;
}
.cbg {
  background-color: #f0f4f8;
}
.xtmt {
  color: #191f2f;
}
.lucky-number {
  display: inline-flex;
  align-items: center;
}
.align-items-stretch > .col-md-6 {
  display: flex;
}
.dot {
  margin: 0 5px;
  display: inline-flex;
  align-items: center;
}
.number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: rotateAnimation 1s linear 1;
}
.image-container img:hover {
  animation: rotateOnce 1s linear forwards;
}

@media (max-width: 767px) {
  .row.flex-lg-row.align-items-center.g-5.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
.card-text-container {
  height: 100px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .first-card {
    background-color: #fff;
    border-radius: 30px;
    min-height: 500px;
    transform: translate(0px, -49.568px);
    width: 70%;
    margin: 0 auto;
  }
  .widescreen-card {
    background-color: #fff;
    border-radius: 10px !important;
    min-height: 500px;
    transform: translate(0px, -49.568px);
    width: 60%;
    margin: 0 auto;
  }
}
.no-gutter {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 767px) {
  .full-width-mobile {
    border-radius: 0;
  }
}
.card-img-top {
  margin-bottom: 0;
  position: relative;
}
.card-img-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  border-radius: inherit;
  box-sizing: border-box;
  z-index: -1;
}
@media (max-width: 767px) {
  .card-img-top {
    margin-top: -75px;
  }
  .card {
    z-index: 2;
    position: relative;
  }
  .header-image-container {
    z-index: 1;
    overflow: visible;
  }
  .mb-3.d-flex {
    align-items: center;
  }
  .mb-3.d-flex .me-3 {
    margin-top: -20px;
  }
}
@media (min-width: 992px) {
  .right-card {
    margin-left: auto;
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .img-fluid {
    height: 350px;
    object-fit: cover;
  }
}
@keyframes vibrate {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

@media (max-width: 992px) {
  .product-card {
    padding: 20px;
    height: auto;
  }
}
@media (max-width: 576px) {
  .product-card {
    padding: 10px;
    height: auto;
  }
}
.night-fade-gradient {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#a18cd1),
    to(#fbc2eb)
  );
  background-image: linear-gradient(to top, #a18cd1 0, #fbc2eb 100%);
}
.z-depth-1-half {
  -webkit-box-shadow: 0 5px 11px 0 rgba(189, 197, 209, 0.3),
    0 4px 15px 0 rgba(189, 197, 209, 0.3) !important;
  box-shadow: 0 5px 11px 0 rgba(189, 197, 209, 0.3),
    0 4px 15px 0 rgba(189, 197, 209, 0.3) !important;
}
.box-shadow {
  box-shadow: 0 0.5rem 1.2rem rgba(244, 2, 2, 0.043);
}
.my-gradient-red {
  background-image: radial-gradient(
    circle,
    #fa10f8,
    #ff00c9,
    #ff009d,
    #ff0076,
    #fa1055
  );
}
.gradient-red {
  background-image: linear-gradient(
    to left bottom,
    #f30651,
    #f3006f,
    #e80090,
    #d000b4,
    #a50ed8
  );
}
.skip-link {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.transaction-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ton-black {
  color: #04060b;
}
.btn {
  border-radius: 30px !important;
  cursor: pointer;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.btn :hover {
  opacity: 0.8;
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.modal-header {
  border-bottom: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 226, 230, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(30px); /* Apply blur effect to the background */
  z-index: 9999; /* Ensure modal appears above other content */
}
